<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminar este Post?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
</form>
