{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="container col-md-6">
    <h1>Registro de usuario</h1>

    {{ include('user/_form.html.twig') }}

    <div class="mt-2">
       {# <a class="btn btn-dark" href="{{ path('user_index') }}">Regresar</a> #}
    </div>
</div>
{% endblock %}
